@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main class="container-fluid px-4 py-3">
    <article class="content">
        @Body
    </article>
</main>

<footer class="site-footer">
    &copy; @DateTime.Now.Year MVDC Girls Football Club &nbsp;|&nbsp;
    <a href="https://www.mvgfc.co.uk/" target="_blank" rel="noopener">mvgfc.co.uk</a>
</footer>
